html,
body 
{
	background-color: beige;
}
body
{
	font: 100% century gothic,sans-serif;
	text-align:left;
}
h1
{	
	width: 220px;
    border: 2px solid black;
    outline: #6666ff solid 4px;
    text-align: center;

}

body
{
    margin-left: 45px;
    margin-right: : 100px;
    margin-top: 45px;
}
